<li class='mt-10 mb-10'>
    <div class="row">
        <div class="col-md-10" {{action 'gotoUser' this.party.partyId}}>
            {{this.party.person.fullName}} <span><UserRoleBadgeComponent @user={{this.party.user}}/></span>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" {{action 'toggleAccess'}}>Refresh</button>
        </div>
    </div>
</li>