<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active {{if (is-equal this.activeRouteTracker.activeRouteName 'home.devices.index') 'selected'}}" {{action this.onGoto 'home.devices.index'}}>
                            Devices
                        </a>
                    </li>
                    <!-- Add more sidebar items as needed -->
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        {{yield}}
    </div>
</div>