<header class="fixed-filter">
    <div style="display: flex">
        <h3>View User - {{this.model.person.fullName}}</h3>
        <div class="mb-05 mr-10" style="margin-left: auto;">
            <button type="button" class="btn btn-primary" {{action 'edit' this.model.partyId}}>Edit</button>
        </div>
    </div>
</header>

<div style="display: flex; width: 100%;">
    <Users::Devices::ListComponent @cssClass="ml-30" @model={{this.model}}/>
</div>