body {
  padding-top: 56px;
  /* Height of the fixed-top navbar */
}

@media (min-width: 768px) {
  body {
    padding-top: 56px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link.selected {
  background-color: #212529; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
}

.loader {
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Loader animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader .spinner {
  border: 4px solid #212529;; /* Loader color */
  border-top: 4px solid transparent; /* Make a transparent top border to create a spinner effect */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Apply the spin animation */
}

.small-loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: smallspin 1s linear infinite; /* Rotate animation */
  margin: 60px auto; /* Center the loader */
}

/* Rotate animation */
@keyframes smallspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fixed-filter {
  background-color: rgb(255, 255, 255);
  position: sticky;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  top: 56px;
}

.fixed-label-wrapper {
  display: flex;
}

.fixed-button {
  z-index: 1500; /* Ensure it's above other content */
}

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 901;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  padding-top: 56px; /* Adjust this value based on your top bar height */
}

.sidebar {
  position: fixed;
  top: 56px; /* Adjust this value based on your top bar height */
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.main-content {
  margin-left: 220px; /* Adjust this value based on your sidebar width */
  padding: 15px;
}

.txt-x-small, .txt-xsmall {font-size: 0.6rem;}
.txt-m-small, .txt-msmall {font-size: 0.7rem;}
.txt-small {font-size: 0.8rem;}
.txt-normal {font-size: 1rem;}
.txt-medium {font-size: 1.1rem;}
.txt-large {font-size: 1.4rem;}
.txt-x-large, .txt-xlarge {font-size: 2rem;}

.txt-accent {color: var(--accent-color);}
.txt-error-accent {color: var(--error-accent-color);}
.txt-warning-accent {color: var(--warning-accent-color);}
.txt-ok-accent {color: var(--ok-accent-color);}

.txt-disabled {color: #c9c9c9;}
.txt-red {color: #a30000;}
.txt-green {color:#47911f;}
.txt-blue {color:#37689a;}
.txt-cyan {color:#2698b5;}
.txt-orange {color:#e44e0c;}
.txt-yellow {color:#DDC800;}
.txt-brown {color:#7A4B00;}
.txt-gray {color:#666666;}
.txt-light-gray {color:#999999;}
.txt-cold-gray {color:#8DAEBE;}
.txt-white {color:#ffffff;}
.txt-light-sky {color:#007BFF;}
.txt-info {color:rgb(23, 162, 184);}

.txt-label.inverted.txt-red {border-color: #d51414; color: #d51414;}
.txt-label.inverted.txt-green {border-color: #47911f; color: #47911f;}
.txt-label.inverted.txt-blue {border-color: #37689a; color: #37689a;}
.txt-label.inverted.txt-cyan {border-color: #2CB7D5; color: #2CB7D5;}
.txt-label.inverted.txt-orange {border-color: #F27100; color: #F27100;}
.txt-label.inverted.txt-yellow {border-color: #DDC800; color: #DDC800;}
.txt-label.inverted.txt-gray {border-color: #666666; color: #666666;}
.txt-label.inverted.txt-cold-gray {border-color: #8DAEBE; color: #8DAEBE;}

.txt-bold {font-weight: bold;}
.txt-nonbold {font-weight: normal;}

.txt-label {
	display:inline-block;
	border-radius: 3px;
	padding: 1px 6px;
	background-color: rgba(0, 0, 0, 0.1);
}

.txt-label.inverted {
	background-color: transparent !important;
	padding: 0 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.ml-0 {margin-left:0 !important;}
.ml-2 {margin-left:2px !important;}
.ml-3 {margin-left:3px !important;}
.ml-5, .ml-05 {margin-left:5px !important;}
.ml-10 {margin-left:10px !important;}
.ml-15 {margin-left:15px !important;}
.ml-20 {margin-left:20px !important;}
.ml-25 {margin-left:25px !important;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}
.ml-50 {margin-left:50px !important;}
.ml-60 {margin-left:60px !important;}

.mr-0 {margin-right:0 !important;}
.mr-2 {margin-right:2px !important;}
.mr-3 {margin-right:3px !important;}
.mr-5, .mr-05 {margin-right:5px !important;}
.mr-10 {margin-right:10px !important;}
.mr-15 {margin-right:15px !important;}
.mr-20 {margin-right:20px !important;}
.mr-25 {margin-right:25px !important;}
.mr-30 {margin-right:30px !important;}
.mr-40 {margin-right:40px !important;}
.mr-50 {margin-right:50px !important;}
.mr-60 {margin-right:60px !important;}

.mt-0 {margin-top:0 !important;}
.mt-02 {margin-top:2px !important;}
.mt-03 {margin-top:3px !important;}
.mt-5, .mt-05 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-60 {margin-top:60px !important;}

.mb-0 {margin-bottom:0 !important;}
.mb-5, .mb-05 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-400 {margin-bottom:400px !important;}

.autocomplete-list-small {
  /* Set a fixed height for the container */
  max-height: 200px; /* Adjust this value as needed */
  /* Enable vertical scrolling */
  overflow-y: auto;
  border: 1px solid #ced4da; /* Adjust color as needed */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.autocomplete-list-big {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ced4da; /* Adjust color as needed */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.custom-tabs .nav-item {
  margin-bottom: 0;
}
.custom-tabs .nav-link {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.custom-tabs .nav-link.active {
  background-color: #f8f9fa;
  color: #495057;
}
.custom-tabs .tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 1rem;
}